@import "tailwindcss";

html {
  overflow-x: hidden;
}

/* App.css */

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.w-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Navbar styles */
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* Footer styles */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
